[Unit]
Description=Simply VPN Bot
After=network.target

[Service]
User=vpn
WorkingDirectory=/home/vpn/simply-client-bot
ExecStart=/home/vpn/simply-client-bot/.venv/bin/python /home/vpn/simply-client-bot/run.py
ExecStop=/bin/kill -s SIGTERM $MAINPID
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target